In [1]:
import pandas as pd
import numpy as np

# Creating a dataframe from an array

# option1

In [5]:
# Creating an array
data = np.array([[1,4], [2,5], [3,6]])

In [7]:
# creating a dataframe
df = pd.DataFrame(data, index = ['row1', 'row2', 'row3'],
                    columns = ['col1', 'col2'])

In [8]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Option2

In [9]:
# Creating an array with list shape
data = [[1,4], [2,5], [3,6]]

In [10]:
# creating a dataframe
df = pd.DataFrame(data, index = ['row1', 'row2', 'row3'],
                    columns = ['col1', 'col2'])

In [11]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Creating a DataFrame from a dictionary

In [12]:
#List used for this example
states = ['California', 'Texas', 'Florida', 'New York']
population = [3961, 2973, 2194, 1929]

In [14]:
# Storing lists within a dictionary
dict_states = {"States": states, "Population":population}

In [15]:
#Creating the df
df_population = pd.DataFrame(dict_states)

In [16]:
# Showing the dataframes
df_population

       States  Population
0  California        3961
1       Texas        2973
2     Florida        2194
3    New York        1929

# Creating a DataFrame from a csv file

In [ ]:
# reading the csv file

In [ ]:
# show first 5 rows in a dataframe